index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="content">       
    <header class="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="main"></div>
    <footer class="footer"></footer>
   </div>
</body>
</html>

index.slim
doctype html
html[lang="en"]
  head
    meta[charset="UTF-8"]
    title
      | Document
    link[rel="stylesheet" href="style.css"]
  body
    .content
      header.header
        nav
          ul
            li
              a[href="/"]
                | Home
            li
              a[href="/about"]
                | About
      .main
      footer.footer
